version: '3'

services:
        database:
                image: 'postgres:latest'
                ports:
                        - 5801:5432
                env_file:
                        - .env

                volumes:
                        - ./db-data/:/var/lib/postgresql/data/
