[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autoslug = "~=1.9.8"
django-ckeditor = "~=6.5.1"
pip = "~=23.0.1"
gunicorn = "~=20.1.0"
psycopg2-binary = "~=2.9.5"
boto3 = "~=1.26.90"
django-storages = "~=1.13.2"
dj-database-url = "~=1.2.0"
whitenoise = "~=6.4.0"
crispy-bootstrap5 = "~=0.7"
Django = "~=4.1.7"
Pillow = "~=9.4.0"
django-allauth = "~=0.52.0"
django-summernote = "~=0.8.20.0"
bleach = "~=6.0.0"
django-environ  = "~=0.10.0"
djangorestframework = "~=3.14.0"
django-cors-headers = "~=3.14.0"
djangorestframework-simplejwt = "~=5.2.2"
django-cloudinary-storage = "==0.3.0"

[dev-packages]
black = "~=23.1.0"
django-debug-toolbar =  "~=3.8.1"
faker = "~=17.3.0"
coverage = "~=7.2.1"
pytest = "~=7.2.1"
pytest-django = "~=4.5.2"

[requires]
python_version = "3.10"
