[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autoslug = "~=1.9.9"
gunicorn = "~=21.2.0"
boto3 = "~=1.28.65"
django-storages = "~=1.14.2"
dj-database-url = "~=2.1.0"
whitenoise = "~=6.6.0"
crispy-bootstrap5 = "~=0.7"
Pillow = "~=10.0.1"
django-allauth = "~=0.57.0"
django-summernote = "~=0.8.20.0"
django-environ  = "~=0.11.2"
djangorestframework = "~=3.14.0"
django-cors-headers = "~=4.2.0"
djangorestframework-simplejwt = "~=5.3.0"
django-cloudinary-storage = "==0.3.0"
psycopg = "~=3.1.12"
psycopg-binary = "~=3.1.12"
django = "~=4.2.7"

[dev-packages]
black = "~=23.10.0"
django-debug-toolbar =  "~=4.2.0"
faker = "~=19.10.0"
coverage = "~=7.3.2"
pytest = "~=7.4.2"
pytest-django = "~=4.5.2"

[requires]
python_version = "3.10"
