[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-autoslug = "==1.9.8"
django-ckeditor = "==6.3.2"
python-dotenv = "==0.20.0"
django-heroku = "==0.3.1"
pip = "==22.0.4"
gunicorn = "==20.1.0"
psycopg2-binary = "==2.9.3"
boto3 = "==1.21.39"
django-storages = "==1.12.3"
asgiref = "==3.5.0"
botocore = "==1.24.39"
dj-database-url = "==0.5.0"
django-js-asset = "==2.0.0"
jmespath = "==1.0.0"
psycopg2 = "==2.9.3"
python-dateutil = "==2.8.2"
s3transfer = "==0.5.2"
six = "==1.16.0"
sqlparse = "==0.4.2"
urllib3 = "==1.26.9"
whitenoise = "==6.0.0"
django-crispy-forms = "==1.14.0"
crispy-bootstrap5 = "==0.6"
environs = "==9.5.0"
dj-email-url = "==1.0.5"
django-cache-url = "==3.4.0"
marshmallow = "==3.15.0"
pyparsing = "==3.0.8"
Django = "==4.0.7"
Pillow = "==9.1.1"
django-allauth = "==0.50.0"

[dev-packages]

[requires]
python_version = "3.8"
