{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <h1 class="page-heading">Edit Profile</h1>
        {% if user.is_authenticated %}
            {% if user.id == profile.user.id %}
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                <button class="btn btn-secondary">Update profile</button>
                </form>
            {% else %}
                <p>You are not allowed to access this page.</p>
            {% endif %}
        {% else %}
            <p>Please <a href="{% url 'account_login' %}">log in</a> to access this page.</p>
        {% endif %}
    </div>
{%  endblock %}