{% extends 'base.html' %}

{% block title %}Welcome {{ user.username }} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
    <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
    <p>Welcome to my website and blog. You have logged-in successfully in your profile. In this website, you can:
        <ol>
            <li><a href="{% url 'website:post-new' %}">Write blog posts</a>.</li>
            <li><a href="{% url 'website:blog' %}">Read and edit blog posts</a>.</li>
            <li><a href="#">Modify your user profile</a>.</li>
            <li><a href="#">Share blog posts</a>.</li>
        </ol>
    </p>
    </div>
{% endblock %}