{% extends "base.html" %}

{% block title %}Change your password - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
    <h1>Change your password</h1>
    <p>
        Please enter your old password, for security's sake, and then enter
        your new password twice, so we can verify you typed it in correctly.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" value="Change password"></p>
    </form>
    </div>
{% endblock %}