{% extends "base.html" %}
{% block title %}Change your password{% endblock %}
{% block content %}
    <h1>Change your password</h1>
    <p>Use the form below to change your password.
        <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
        </ul>
    </p>
    <form method="post">
        {{ form.as_p }}
        <p><input type="submit" value="Change"></p>
        {% csrf_token %}
    </form>
{% endblock %}