{% extends 'base.html' %}
{% load static %}
{% block title %}About - {{ block.super }} {% endblock %}

{% block content %}
<div class="container"></div>
    <h1 style="text-align: center; margin: 10px">About Me</h1>
    <div class="about">
            <div>
				<img src="{% static 'website/img/about.jpg' %}">
            </div>
			    <div class="desc">
                    <h3>Joseph Kariuki</h3>
                    <p class="card-text">
                        <a href="https://josephkariuki.com" target="_blank"><i class="bi-globe" role="img" aria-label="Globe"></i></a> |
                        <a href="https://twitter.com/jkariukidev" target="_blank"><i class="bi-twitter" role="img" aria-label="Twitter"></i></a> |
                        <a href="https://github.com/jkariukidev" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a> |
                        <a href="https://www.youtube.com/c/JosephKariukiDev" target="_blank"><i class="bi-youtube" role="img" aria-label="YouTube"></i></a>
                    </p>
				    <p>
				        Software developer with a background in geospatial engineering and experience demonstrating my skills and contributions to the world of technology<br>
                        in particular, open-source and geospatial domains. I have an array of portfolio projects and code contributions to a number of projects which employ<br>
                        system design, object-oriented programming concepts, version control, DevOps, and others. My over six years of proficiency cuts across several<br>
                        technologies summarised in the list below. My goal includes utilizing my skills and abilities to achieve professional growth while being resourceful<br>
                        and flexible and adding a valuable asset to the workplace and transitioning into leadership and product ownership in the ever-growing tech world.
				    </p>
			    </div>
                </div>
{% endblock %}