{% extends 'base.html' %}
{% load static %}
{% block title %}About - {{ block.super }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <div class="mb-3 mt-5 mx-5">
                <rect width="100%" height="100%">
                    <img class="about-image" src="{% static 'website/img/about.jpg' %}" alt="myself">
                </rect>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
            <h1 class="mb-3 my-5 text-center">About Me</h1>
            <p class="socials text-center">
                <a href="https://josephkariuki.com" target="_blank"><i class="bi-globe" role="img" aria-label="Globe"></i></a> |
                <a href="https://twitter.com/jkariscodes" target="_blank"><i class="bi-twitter" role="img" aria-label="Twitter"></i></a> |
                <a href="https://github.com/jkariscodes" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a> |
                <a href="https://www.youtube.com/@kariscodes" target="_blank"><i class="bi-youtube" role="img" aria-label="YouTube"></i></a>
            </p>
            <p class="ab-text mx-5">
                Software developer with a background in geospatial engineering and experience demonstrating my skills and contributions to the world of technology
                in particular, open-source and geospatial domains. I have an array of portfolio projects and code contributions to a number of projects which employ
                system design, object-oriented programming concepts, version control, DevOps, and others. My over six years of proficiency cuts across several
                technologies summarised in the list below. My goal includes utilizing my skills and abilities to achieve professional growth while being resourceful
                and flexible and adding a valuable asset to the workplace and transitioning into leadership and product ownership in the ever-growing tech world.
            </p>
        </div>
    </div>
{#    <div class="row" style="height: 15vh;">#}
{#        <h1 class="page-heading">About Me</h1>#}
{#    </div>#}
{#    <div class="row">#}
{#    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">#}
{#        <img class="about-image" src="{% static 'website/img/about.jpg' %}">#}
{#    </div>#}
{#    <div class="about col-lg-8 col-md-8 col-sm-8 col-xs-8">#}
{#        <h3>Joseph Kariuki</h3>#}
{#            <p class="socials">#}
{#                <a href="https://josephkariuki.com" target="_blank"><i class="bi-globe" role="img" aria-label="Globe"></i></a> |#}
{#                <a href="https://twitter.com/jkariscodes" target="_blank"><i class="bi-twitter" role="img" aria-label="Twitter"></i></a> |#}
{#                <a href="https://github.com/jkariscodes" target="_blank"><i class="bi-github" role="img" aria-label="GitHub"></i></a> |#}
{#                <a href="https://www.youtube.com/@kariscodes" target="_blank"><i class="bi-youtube" role="img" aria-label="YouTube"></i></a>#}
{#            </p>#}
{#            <p class="ab-text mx-5">#}
{#                Software developer with a background in geospatial engineering and experience demonstrating my skills and contributions to the world of technology#}
{#                in particular, open-source and geospatial domains. I have an array of portfolio projects and code contributions to a number of projects which employ#}
{#                system design, object-oriented programming concepts, version control, DevOps, and others. My over six years of proficiency cuts across several#}
{#                technologies summarised in the list below. My goal includes utilizing my skills and abilities to achieve professional growth while being resourceful#}
{#                and flexible and adding a valuable asset to the workplace and transitioning into leadership and product ownership in the ever-growing tech world.#}
{#            </p>#}
{#    </div>#}
{#  </div>#}
</div>
{% endblock %}
