{% extends 'base.html' %}

{% block title %}Create Blog Category - {{ block.super }}{% endblock %}
{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
    <h1 class="page-heading">Add Post Category...</h1>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Add Category</button>
        </form>
    </div>
    {% else %}
        <p>Please <a href="{% url 'useraccounts:login' %}">log in</a>  to create blog category.</p>
    {% endif %}
    </div>
{% endblock %}
