{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Edit Blog Post - {{ block.super }}{% endblock %}

{% block content %}
<div class="container">
<h1 class="page-heading">Edit Post...</h1>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy|safe }}
            <button class="btn btn-secondary">Update</button>
        </form>
    {% endif %}
{% else %}
    <p>Please <a href="{% url 'useraccounts:login' %}">log in</a> to edit this blog post.</p>
{% endif %}
</div>
{% endblock %}