{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome - {{ block.super }} {% endblock %}

{%  block content %}
    <div class="container-fluid">
        <div class="header-back"></div>
        <div class="description">
            <h1>
                Hi,
                <p>
                    Welcome to my website. I am a software developer from Nairobi, Kenya with background in geospatial engineering and I have been
                    developing projects using Python and JavaScript and made contributions to various open-source projects. My expertise revolves around
                    but not limited to geo-information systems and software development, this website features both personal work and other projects.
                </p>
                <a href="{% url 'website:about' %}" class="btn btn-secondary btn-lg">See more</a>
            </h1>
        </div>

    </div>

{#</header>#}
{% endblock %}