{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="{% static 'website/img/favicon.ico' %}"/>
    <!-- CSS only -->
    <link href="{% static 'website/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'website/css/main.css' %}">
    <title>{% block title %}J.K{% endblock %}</title>
</head>
<body style="min-height: 100%;">
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'website:home' %}">J.K</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'website:blog' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blog
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'website:post-new' %}">Create Post</a></li>
              {% endif %}
            <li><a class="dropdown-item" href="{% url 'website:blog' %}">Posts</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:portfolio' %}">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'website:contact' %}">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_authenticated %}
                  <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                  {% if user.profile.id %}
                      <li><a class="dropdown-item" href="{% url 'account:user_profile' user.profile.id %}">Your Profile</a></li>
                      <li><a class="dropdown-item" href="{% url 'account:edit_user_profile' user.profile.id %}">Edit Your Profile</a></li>
                  {% else %}
                      <li><a class="dropdown-item" href="{% url 'account:create_user_profile' %}">Create Profile</a></li>
                  {% endif %}
              {% else %}
                  <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
                  <li><a class="dropdown-item" href="{% url 'account:register' %}">Register</a></li>
              {% endif %}
          </ul>
      </li>
{#        <li class="nav-item">#}
{#          <a class="nav-link disabled">Disabled</a>#}
{#        </li>#}
      </ul>
      <form class="d-flex" method="get">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{% block content %}
    <div class="container">

    </div>
 {% endblock %}
<!-- Footer -->
{% block footer %}
<footer class="footer text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://twitter.com/JkariukiDev" target="_blank" class="me-4 text-reset">
        <i class="bi bi-twitter"></i>
      </a>
      <a href="https://www.instagram.com/jkariukidev/"  target="_blank" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/in/josephkariuki/" target="_blank" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/jkariukidev/" target="_blank" class="me-4 text-reset">
        <i class="bi bi-github"></i>
      </a>
        <a href="https://www.youtube.com/c/JosephKariukiDev" target="_blank" class="me-4 text-reset">
        <i class="bi bi-youtube"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>JK
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="#!" class="text-reset">Web Development</a>
          </p>
          <p>
            <a href="#!" class="text-reset">GIS Development</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links
          </h6>
          <p>
            <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}" class="text-reset">Sitemap</a>
          </p>
          <p>
            <a href="{% url "website:post_feed" %}">RSS feeds</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Nairobi, KE</p>
          <p><i class="fas fa-envelope me-3"></i><a href="{% url 'website:contact' %}" target="_blank">Contact</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://josephkariuki.com/" target="_blank">Joseph Kariuki</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock %}
<!-- Footer -->
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'website/js/bootstrap.modal.forms.min.js' %}"></script>
<script src="{% static 'website/js/main.js' %}"></script>
</body>
</html>