{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1>Blog</h1>
        {% for post in object_list %}
            <ul>
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a><br/>{{ post.body|truncatechars:50 }}
                </li>
            </ul>
            {% include "paginator.html" %}
        {% empty %}
            <p>
                Sorry, no blog posts to display.
            </p>
        {% endfor %}
{% endblock %}