{% extends 'base.html' %}

{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
    <h1 style="text-align: center;">Contact</h1>
    <p>
        Please feel free to reach out through e-mail using the contact form below.
    </p>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Submit</button>
        </form>
    </div>
    <br>
    </div>

{% endblock %}