{% extends 'base.html' %}

{% block title %}Delete Blog Post - {{ block.super }}{% endblock %}

{% block content %}
    <div class="container">
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Delete Post...</h1>
            <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure?</strong>
                <button class="btn btn-secondary">Delete</button>
            </form>
            </div>
        {% endif %}
    {% else %}
        <p>Please <a href="{% url 'account:login' %}">log in</a> to remove this blog post.</p>
    {% endif %}
    </div>
{% endblock %}