{% extends 'base.html' %}

{% block title %}Edit Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Add Post...</h1>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-secondary">Update</button>
            </form>
        </div>
    {% endif %}
{% else %}
    <p>Please <a href="{% url 'login' %}">log in</a> to edit this blog post.</p>
{% endif %}

{% endblock %}